@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div id="header">
        <h1>PeopleSearch</h1>
        <p class="lead">Enter a name to search: </p>
        <input type="text" id="search" placeholder=" name">
        <button onclick="search()" class="btn btn-primary">Go &raquo;</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        

        <div id="personList">
            <div class="panel panel-default">
                <div class="panel-heading">Search</div>
                <div class="panel-body">
                    <table class="datatables-table table table-striped table-hover table-bordered" id="listofpeople">
                        
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Age</th>
                                <th>Interests</th>
                                <th>Picture</th>
                            </tr>
                        </thead>

                        @foreach (var person in ViewBag.people)
                        {
                            <tbody>
                                <tr>
                                    <td>@person.name</td>
                                    <td>@person.address</td>
                                    <td>@person.age</td>
                                    <td>@person.interests</td>
                                    <td><img src="~/Content/Images/@person.picture"></td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>

        <h2>Add a person:</h2>
        <div class="form-group">
            <label>Name:</label>
            <input type="text" placeholder="Name" id="name" />
            <input type="text" placeholder="Address" id="address" />
            <input type="text" placeholder="Age" id="age" />
            <input type="text" placeholder="Interests" id="interests" />
            <input type="text" placeholder="Picture" id="picture" />
            <button onclick="addPerson()" class="btn btn-primary">Add a Person &raquo;</button>
        </div>
    </div>
</div>

<script>
    function search() {
        // Declare variables 
        var input, filter, table, tr, td, i;
        input = document.getElementById("search");
        filter = input.value.toUpperCase();
        table = document.getElementById("listofpeople");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    
    function addPerson() {
        var name = document.getElementById('name').value;
        var address = document.getElementById('address').value;
        var age = document.getElementById('age').value;
        var interests = document.getElementById('interests').value;
        var picture = document.getElementById('picture').value;
        var person = "@ViewBag.person.personID";

        $.ajax({
            type: "POST",
            url: 'http://localhost:59179/Home/AddPerson',
            data: {
                name: name,
                personID: person,
                address: address,
                age: age,
                interests: interests,
                picture: picture
            }
        }).done(function (res) {
            // Update view and add person
            $('#listofpeople tr:last').after('<tr><td>' + name + '</td><td>' + address + '</td><td>' + age + '</td><td>' + interests + '</td><td><img src="/Content/Images/' + picture + '"></td></tr>');
        })
    }    
</script>